@import url('https://fonts.googleapis.com/css2?family=Finlandica&family=Poppins:wght@400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Finlandica', sans-serif;
}

body {
  background: linear-gradient(260deg, #A0B2A6, #A9ACA9)
}

.showcase {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  min-height: 90vh;
  padding: 0 15% 0 15%;
  overflow: hidden;
}

nav {
  min-height: 10vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 15%;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
}

nav img {
  transform: scale(.7);
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80vh;
  z-index: 2;
  flex: 1;
}

.img-container img {
  width: 90%;
}

.showcase-text {
  color: #fff;
  flex: 1;
  padding-bottom: 10rem;
}

/* Bubbles */
.circle {
  position: absolute;
  left: 23%;
  transform: scale(1.5);
}

.circle-1 {
  left: -3%;
  bottom: -3%;
  transform: scale(2.5);
}